.btn {
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  background-image: linear-gradient(to right, #1CD4E7, #3EFC9A);
  border-color: #007bff;
  color: #fff;

  &:hover {
    background-image: linear-gradient(to right, #3EFC9A, #1CD4E7);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}
