.select-link {
  width: 100%;
  height: 40px;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  overflow: hidden;
  line-height: 40px;
  white-space: nowrap;
  box-sizing: border-box;
  text-overflow: ellipsis;

  &:hover{
    outline: none;
    background: darken(#F2F2F2, 4%);
  }
}
