@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.cool-select {
  display: block;
  position: relative;

  &.open {
    .input-control {
      border-radius: 4px 4px 0 0;
    }

    .dropdown-body {
      max-height: 400px;
      box-shadow: 0 20px 20px fade_out(#000, .9);
    }
  }

  .small-size {
    min-width: 150px;
    width: 150px;
  }

  .medium-size {
    min-width: 270px;
    width: 270px;
  }

  // .input-wrap {
  //   width: 270px;
  // }

  .dropdown-wrap {
    // width: 270px;
    z-index: 100;
    position: absolute;
  }

  .close {
    display: none;
    visibility: hidden;
  }

  .input-control {
    height: 40px;
    border: none;
    outline: none;
    color: #212112;
    transition: .3s;
    cursor: pointer;
    font-weight: 500;
    box-shadow: unset;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    background: #F2F2F2;
    box-sizing: border-box;
    // min-width: 270px;
    color: transparent;
    text-shadow: 0 0 0 #212112;

    &:focus {
      outline: none;
      background: darken(#F2F2F2, 4%);
    }
  }

  .dropdown-body {
    height: auto;
    max-height: 0;
    transition: .3s;
    overflow: hidden;
    background: #F2F2F2;
    border-radius: 0 0 4px 4px;
  }

  .select-nav {
    display: block;
    overflow-y: auto;
    max-height: calc(40px * 5);
  }
}

@include media-breakpoint-only(xs) {
  .cool-select {
    // .input-control {
    //   min-width: 270px;
    // }

    &.open {
      .dropdown-wrap {
        opacity: 1;
        visibility: visible;
        background: fade_out(#000, .5);
      }

      .close {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        position: absolute;
        visibility: visible;
      }
    }

    .dropdown-wrap {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      z-index: 100;
      height: 100vh;
      position: fixed;
      padding-top: 64px;
      visibility: hidden;
      box-sizing: border-box;
      transition: opacity .3s, visibility .3s;
    }

    .dropdown-body {
      left: 50%;
      //width: 50%;
      z-index: 10;
      transition: .3s;
      position: relative;
      top: 120px;
      border-radius: 4px 4px 4px 4px;
      transform: translateX(-50%);
    }
  }
}
